@import "~bootstrap/scss/bootstrap";

@import "../theme";

.app-container {
  display: grid;
  grid-template:
    'menu' 5rem
    'main' auto
    / auto;
  background: white;
  width: 60rem;
  margin: 0 auto;

  main {
    grid-area: main;
    padding: 1rem;
  }
}

.menu {
  grid-area: menu;
  background: $brand-color;
  display: flex;
  flex-flow: row nowrap;
}

.brand {
  font-weight: bold;
}

.footer {
  padding: 1rem;
  font-size: 0.75rem;
}
